* {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins/Poppins-Regular.ttf') format('truetype'),
    url('../fonts/Poppins/Poppins-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    background: #393d4f;
    color: white;
    font-family: Poppins, serif;
    font-size: 11pt;
}

.wrapper {
    max-width: 1280px;
    display: flow-root;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 20px 20px 0 20px;
}

.backward {
    opacity: 1;
    visibility: visible;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(95, 95, 95, 0.6);
    z-index: 4;
    transition: .5s all ease;
}

.listContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0 auto;
}

.listItem {
    background: #242a3b;
    padding: 12px;
    border-radius: 7px;
    color: orange;
    text-decoration: none;
    display: grid;
    grid-template-columns: 35px 1fr;
    align-items: center;
}

.listItem.file {
    color: white;
    text-decoration: none;
}

.listItem.dir {
    color: white;
    text-decoration: none;
}

#drivesList {
    width: 100%;
    font-size: 13pt;
    background: #242a3b;
    color: white;
    margin-bottom: 20px;
    border-radius: 7px;
    padding: 12px;
}

.pathContainer {
    background: #56585fa6;
    margin-bottom: 20px;
    border-radius: 7px;
    padding: 12px;
    position: sticky;
    top: 20px;
    backdrop-filter: blur(3px);
    z-index: 1;
}

.pathContainer span {
    color: gold;
}

.backBtn {
    background: #0064ff;
    border-radius: 7px;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    width: max-content;
}

.errorConainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* Icons Css */

icon#pdf-icon {
    width: 25px;
    height: 25px;
    display: block;
    background: url("/static/icons/pdf.svg");
    background-size: cover;
    margin-right: 10px;
    position: relative;
}

icon#pdf-icon:hover::after {
    content: "PDF";
    width: max-content;
    height: max-content;
    display: block;
    position: absolute;
    top: -3px;
    left: 135%;
    padding: 1px 10px;
    box-sizing: border-box;
    font-size: 10pt;
    border-radius: 4px;
    border: 1px solid white;
    backdrop-filter: blur(5px);
}

icon#text-icon {
    width: 25px;
    height: 25px;
    display: block;
    background: url("/static/icons/text.svg");
    background-size: cover;
    margin-right: 10px;
    position: relative;
}

icon#text-icon:hover::after {
    content: "Text";
    width: max-content;
    height: max-content;
    display: block;
    position: absolute;
    top: -3px;
    left: 135%;
    padding: 1px 10px;
    box-sizing: border-box;
    font-size: 10pt;
    border-radius: 4px;
    border: 1px solid white;
    backdrop-filter: blur(5px);
}

icon#exe-icon {
    width: 25px;
    height: 25px;
    display: block;
    background: url("/static/icons/exe.svg");
    background-size: cover;
    margin-right: 10px;
    position: relative;
}

icon#exe-icon:hover::after {
    content: "exe";
    width: max-content;
    height: max-content;
    display: block;
    position: absolute;
    top: -3px;
    left: 135%;
    padding: 1px 10px;
    box-sizing: border-box;
    font-size: 10pt;
    border-radius: 4px;
    border: 1px solid white;
    backdrop-filter: blur(5px);
}

icon#archive-icon {
    width: 25px;
    height: 25px;
    display: block;
    background: url("/static/icons/archiveFolder.svg");
    background-size: cover;
    margin-right: 10px;
    position: relative;
}

icon#archive-icon:hover::after {
    content: "Archive";
    width: max-content;
    height: max-content;
    display: block;
    position: absolute;
    top: -3px;
    left: 135%;
    padding: 1px 10px;
    box-sizing: border-box;
    font-size: 10pt;
    border-radius: 4px;
    border: 1px solid white;
    backdrop-filter: blur(5px);
}

icon#folder-icon {
    width: 25px;
    height: 25px;
    display: block;
    background: url("/static/icons/folder.svg");
    background-size: cover;
    margin-right: 10px;
    position: relative;
}

icon#folder-icon:hover::after {
    content: "Folder";
    width: max-content;
    height: max-content;
    display: block;
    position: absolute;
    top: -3px;
    left: 135%;
    padding: 1px 10px;
    box-sizing: border-box;
    font-size: 10pt;
    border-radius: 4px;
    border: 1px solid white;
    backdrop-filter: blur(5px);
}

icon#image-icon {
    width: 25px;
    height: 25px;
    display: block;
    background: url("/static/icons/imageFile.svg");
    background-size: cover;
    margin-right: 10px;
    position: relative;
}

icon#image-icon:hover::after {
    content: "Image";
    width: max-content;
    height: max-content;
    display: block;
    position: absolute;
    top: -3px;
    left: 135%;
    padding: 1px 10px;
    box-sizing: border-box;
    font-size: 10pt;
    border-radius: 4px;
    border: 1px solid white;
    backdrop-filter: blur(5px);
}

icon#excel-icon {
    width: 25px;
    height: 25px;
    display: block;
    background: url("/static/icons/microsoftExcel.svg");
    background-size: cover;
    margin-right: 10px;
    position: relative;
}

icon#excel-icon:hover::after {
    content: "Excel";
    width: max-content;
    height: max-content;
    display: block;
    position: absolute;
    top: -3px;
    left: 135%;
    padding: 1px 10px;
    box-sizing: border-box;
    font-size: 10pt;
    border-radius: 4px;
    border: 1px solid white;
    backdrop-filter: blur(5px);
}

icon#word-icon {
    width: 25px;
    height: 25px;
    display: block;
    background: url("/static/icons/microsoftWord.svg");
    background-size: cover;
    margin-right: 10px;
    position: relative;
}

icon#word-icon:hover::after {
    content: "Word";
    width: max-content;
    height: max-content;
    display: block;
    position: absolute;
    top: -3px;
    left: 135%;
    padding: 1px 10px;
    box-sizing: border-box;
    font-size: 10pt;
    border-radius: 4px;
    border: 1px solid white;
    backdrop-filter: blur(5px);
}

icon#unknown-icon {
    width: 25px;
    height: 25px;
    display: block;
    background: url("/static/icons/unknownFile.svg");
    background-size: cover;
    margin-right: 10px;
    position: relative;
}

icon#unknown-icon:hover::after {
    content: "Unknown File";
    width: max-content;
    height: max-content;
    display: block;
    position: absolute;
    top: -3px;
    left: 135%;
    padding: 1px 10px;
    box-sizing: border-box;
    font-size: 10pt;
    border-radius: 4px;
    border: 1px solid white;
    backdrop-filter: blur(5px);
}

icon#video-icon {
    width: 25px;
    height: 25px;
    display: block;
    background: url("/static/icons/videoFile.svg");
    background-size: cover;
    margin-right: 10px;
    position: relative;
}

icon#video-icon:hover::after {
    content: "Video";
    width: max-content;
    height: max-content;
    display: block;
    position: absolute;
    top: -3px;
    left: 135%;
    padding: 1px 10px;
    box-sizing: border-box;
    font-size: 10pt;
    border-radius: 4px;
    border: 1px solid white;
    backdrop-filter: blur(5px);
}

icon#rar-icon {
    width: 25px;
    height: 25px;
    display: block;
    background: url("/static/icons/winrar.svg");
    background-size: cover;
    margin-right: 10px;
    position: relative;
}

icon#rar-icon:hover::after {
    content: "rar";
    width: max-content;
    height: max-content;
    display: block;
    position: absolute;
    top: -3px;
    left: 135%;
    padding: 1px 10px;
    box-sizing: border-box;
    font-size: 10pt;
    border-radius: 4px;
    border: 1px solid white;
    backdrop-filter: blur(5px);
}

icon#back-icon {
    width: 25px;
    height: 25px;
    display: block;
    background: url("/static/icons/undo.svg");
    background-size: cover;
    margin-right: 10px;
    position: relative;
}

.Modal {
    background: #32313e;
    width: 75%;
    height: 75%;
    display: block;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;
}

.Modal video {
    width: 100%;
    height: 100%;
}

.Modal img {
    max-width: 100%;
    max-height: 100%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    user-select: none;
}
