* {
    padding: 0;
    margin: 0;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins/Poppins-Regular.ttf') format('truetype'),
       url('../fonts/Poppins/Poppins-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
    background: #393d4f;
    color: white;
    font-family: Poppins, serif;
    font-size: 11pt;
}

.wrapper {
    width: 1280px;
    margin: 30px auto;
    display: flow-root;
    position: relative;
}

.listContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0 auto;
}

.listItem {
    background: #242a3b;
    padding: 12px;
    border-radius: 7px;
    color: orange;
    text-decoration: none;
}

.listItem.file {
    color: magenta;
    text-decoration: none;
}

.listItem.dir {
    color: white;
    text-decoration: none;
}

#drivesList {
    width: 100%;
    font-size: 13pt;
    background: #242a3b;
    color: white;
    margin-bottom: 20px;
    border-radius: 7px;
    padding: 12px;
}

.pathContainer {
    background: #56585fa6;
    margin-bottom: 20px;
    border-radius: 7px;
    padding: 12px;
    position: sticky;
    top: 20px;
    backdrop-filter: blur(3px);
}

.pathContainer span {
    color: gold;
}