<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Share App | Mr.MKZ</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/mobile.css') }}">
</head>
<body>
<div class="wrapper">
    <div class="driveContainer">
        <select name="drives" id="drivesList">
            {% for drive in drives %}
                {% if current_drive == drive %}
                    <option value="{{ drive }}" selected>{{ drive }}</option>
                {% else %}
                    <option value="{{ drive }}">{{ drive }}</option>
                {% endif %}
            {% endfor %}
        </select>
    </div>
    <div class="pathContainer">
        <span>{{ current_path }}</span>
    </div>
    <div class="listContainer">
        {% if dir_contents[0] %}
            <a class="listItem" href="/prev_dir">
                <icon id="back-icon"></icon>
                Previous directory</a>
        {% endif %}
        {% for dir_content in dir_contents[1::] %}
            {% if dir_content.isDir %}
                <a class="listItem dir" href="/chdir/{{ dir_content.path }}">
                    <icon id="{{ dir_content.icon }}"></icon>
                    {{ dir_content.name }}</a>
            {% endif %}
            {% if dir_content.isFile %}
                <div>
                    <a class="listItem file" href="/download/{{ dir_content.path }}">
                        <icon id="{{ dir_content.icon }}"></icon>
                        {{ dir_content.name }}
                    </a>
                    {% if dir_content.preview %}
                        <button class="showPreview" name="{{ dir_content.name }}"
                                src="/download/{{ dir_content.path }}">
                            Preview
                        </button>
                    {% endif %}
                </div>
            {% endif %}
        {% endfor %}
    </div>
    <div class="Modal" style="display: none">
        <video style="display: none" src="" controls></video>
        <img style="display: none" src="" alt="">
    </div>
</div>
<div class="backward" style="display: none"></div>
<script src="{{ url_for('static', filename='lib/jquery-3.7.1.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>